body {
    color: rgb(60, 0, 179);
}

p {
    background-color: snow;
    padding: 20px;
    margin: 10px 0 10px 0px;
}

h1 {
    text-align: center;
    padding: 5px;
    color: rgb(75, 135, 156);
    text-transform: uppercase;
}

h2 {
    display: block;
    font-size: 10pt;
    font-weight: 700;
    margin-top: 20px;
}

p {
    display: block;
    font-size: 10pt;
    font-weight: 700;
    margin-top: 10px;
}

input {

    margin: 0px 12px 0px 12px;
    display: inline-block;
    border: solid 1px rgb(75, 135, 156);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    align-self: center;
}

select {

    padding: 5px;
    margin: 0 auto;
    margin: 0px 7px 0px 7px;
    display: inline-block;
    width: 150px;
    height: 30px;
    display: inline;
}

hr {
    margin-bottom: 10px;
}

.hexdisplaywindow {

    margin: 20px 5px 0px 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: beige;
    border: solid 1px rgb(75, 135, 156);
    border-radius: 50px;
    align-content: center;
    font-size: 7pt;
}

#startbutton {

    margin: 0px 7px 0px 7px;
    display: inline;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    align-self: center;
    width: 100px;
    border-radius: 5px;
    height: 40px;
    background-color: none;
    border: 1px solid rgb(75, 135, 156);
    padding: 0px 0px 0px 0px;
    font-size: 8pt;
    font-weight: 700;
}


#copykleuren,
#slaitemsop,
#btnhaaldataop,
#btnreset,
#slaitemsop2 {

    width: 50px;
    height: 30px;
    background-color: none;
    border: 1px solid rgb(75, 135, 156);
    border-radius: 2px;
    font-size: 6pt;
    color: black;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 7px;

    margin-top: 5px;
}

#usernameinput,
#kleurensetnaam {


    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: none;

}

#copykleuren:hover {
    border: 2px solid bisque;
}

#startbutton:hover {
    border: 2px solid rgb(255, 238, 0);
}

#mainspace {

    border-radius: 20px;
    border: solid 1px rgb(75, 135, 156);
    text-align: center;
    justify-self: center;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(240, 246, 246);
    padding-bottom: 20px;
    height: auto;
    width: 400px;
}